<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- Configuración de Entity Framework -->
        <section name="entityFramework" 
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
                 requirePermission="false" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" 
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Data Source=JOSUEISAI\SQLEXPRESS;Initial Catalog=InventarioPlus;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.serviceModel>
        <services>
            <service name="ServidorInventarioPlus.Servicios.UsuarioServicio">
                <endpoint 
                    address="" 
                    binding="basicHttpBinding" 
                    contract="BibliotecaClasesNetframework.Contratos.IUsuarioService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://192.168.1.71:8080/UsuarioServicio"/>
                    </baseAddresses>
                </host>
            </service>
        </services>

        <!-- Permitir múltiples enlaces HTTP para evitar errores de dirección duplicada -->
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    </system.serviceModel>
</configuration>