<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarioService" />
                <binding name="BasicHttpBinding_IProveedorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint
                name="UsuarioServiceEndpoint"
                address="http://192.168.1.65:8080/UsuarioServicio"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUsuarioService"
                contract="BibliotecaClasesNetframework.Contratos.IUsuarioService"
            />
            <endpoint
                name="ProveedorServiceEndpoint"
                address="http://192.168.1.65:8080/ProveedorServicio"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProveedorService"
                contract="BibliotecaClasesNetframework.Contratos.IProveedorService"
            />
        </client>
    </system.serviceModel>
</configuration>