<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarioService" />
                <binding name="BasicHttpBinding_IProveedorService"/>
                <binding name="BasicHttpBinding_IReservaService"/>
                <binding name="BasicHttpBinding_IProductoService"/>
                <binding name="BasicHttpBinding_IMovimientoService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint
                name="UsuarioServiceEndpoint"
                address="http://192.168.1.68:8080/UsuarioServicio"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUsuarioService"
                contract="BibliotecaClasesNetframework.Contratos.IUsuarioService"
            />
            <endpoint
                name="ProveedorServiceEndpoint"
                address="http://192.168.1.68:8080/ProveedorServicio"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProveedorService"
                contract="BibliotecaClasesNetframework.Contratos.IProveedorService"
            />
            <endpoint
                name="ReservaServiceEndpoint"
                address="http://192.168.1.68:8080/ReservaServicio"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReservaService"
                contract="BibliotecaClasesNetframework.Contratos.IReservaService"
            />
            <endpoint
                name="ProductoServiceEndpoint"
                address="http://192.168.1.68:8080/ProductoServicio"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProductoService"
                contract="BibliotecaClasesNetframework.Contratos.IProductoService"
            />
            <endpoint
                name="MovimientoServiceEndpoint"
                address="http://192.168.1.68:8080/MovimientoServicio"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMovimientoService"
                contract="BibliotecaClasesNetframework.Contratos.IMovimientoService"
            />
        </client>
    </system.serviceModel>
</configuration>